In [1]:
import pandas as pd
import numpy as np

In [4]:
movies = pd.read_csv("/Users/nidhishgupta/Desktop/Movie_recommendation_sysytem/data/raw/TMDB_all_movies.csv")

In [5]:
movies.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,budget,imdb_id,...,spoken_languages,cast,director,director_of_photography,writers,producers,music_composer,imdb_rating,imdb_votes,poster_path
0,2,Ariel,7.100,356.0,Released,1988-10-21,0.0,73.0,0.0,tt0094675,...,suomi,"Susanna Haavisto, Pentti Auer, Olli Varja, Mer...",Aki Kaurismäki,Timo Salminen,Aki Kaurismäki,Aki Kaurismäki,NaN,7.4,9592.0,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg
1,3,Shadows in Paradise,7.265,429.0,Released,1986-10-17,0.0,74.0,0.0,tt0092149,...,"svenska, suomi, English","Teuvo Rissanen, Sirkka Silin, Ulla Kuosmanen, ...",Aki Kaurismäki,Timo Salminen,Aki Kaurismäki,Mika Kaurismäki,NaN,7.4,8440.0,/nj01hspawPof0mJmlgfjuLyJuRN.jpg
2,5,Four Rooms,5.900,2780.0,Released,1995-12-09,4257354.0,98.0,4000000.0,tt0113101,...,English,"Lili Taylor, Kimberly Blair, Quinn Hellerman, ...","Alexandre Rockwell, Allison Anders, Robert Rod...","Rodrigo García, Phil Parmet, Andrzej Sekula, G...","Allison Anders, Alexandre Rockwell, Quentin Ta...","Alexandre Rockwell, Quentin Tarantino, Lawrenc...",Combustible Edison,6.7,116230.0,/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg
3,6,Judgment Night,6.500,360.0,Released,1993-10-15,12136938.0,109.0,21000000.0,tt0107286,...,English,"Doug Wert, Angela Alvarado, Everlast, Sean O'G...",Stephen Hopkins,Peter Levy,"Lewis Colick, Jere Cunningham","Marilyn Vance, Gene Levy, Lloyd Segan",Alan Silvestri,6.6,20784.0,/3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg
4,8,Life in Loops (A Megacities RMX),7.200,30.0,Released,2006-01-01,0.0,80.0,42000.0,tt0825671,...,"English, हिन्दी, 日本語, Pусский, Español",NaN,Timo Novotny,Wolfgang Thaler,"Timo Novotny, Michael Glawogger","Timo Novotny, Ulrich Gehmacher",NaN,8.1,285.0,/7ln81BRnPR2wqxuITZxEciCe1lc.jpg

In [6]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1154595 entries, 0 to 1154594
Data columns (total 28 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   id                       1154595 non-null  int64
 1   title                    1154581 non-null  object
 2   vote_average             1154595 non-null  float64
 3   vote_count               1154595 non-null  float64
 4   status                   1154595 non-null  object
 5   release_date             1034816 non-null  object
 6   revenue                  1154595 non-null  float64
 7   runtime                  1154595 non-null  float64
 8   budget                   1154595 non-null  float64
 9   imdb_id                  650707 non-null   object
 10  original_language        1154595 non-null  object
 11  original_title           1154582 non-null  object
 12  overview                 978433 non-null   object
 13  popularity               1154595 non-null  float64
 14  tagline                  174530 non-null   object
 15  genres                   842515 non-null   object
 16  production_companies     554245 non-null   object
 17  production_countries     724302 non-null   object
 18  spoken_languages         731139 non-null   object
 19  cast                     786675 non-null   object
 20  director                 967642 non-null   object
 21  director_of_photography  305422 non-null   object
 22  writers                  582327 non-null   object
 23  producers                391055 non-null   object
 24  music_composer           127620 non-null   object
 25  imdb_rating              459611 non-null   float64
 26  imdb_votes               459611 non-null   float64
 27  poster_path              869198 non-null   object
dtypes: float64(8), int64(1), object(19)
memory usage: 246.6+ MB

In [7]:
selected_cols = ['title','imdb_id','overview','genres','production_companies','cast','director','poster_path']
movies = movies[selected_cols]
movies.head()

,title,imdb_id,overview,genres,production_companies,cast,director,poster_path
0,Ariel,tt0094675,A Finnish man goes to the city to find a job a...,"Comedy, Drama, Romance, Crime",Villealfa Filmproductions,"Susanna Haavisto, Pentti Auer, Olli Varja, Mer...",Aki Kaurismäki,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg
1,Shadows in Paradise,tt0092149,"Nikander, a rubbish collector and would-be ent...","Comedy, Drama, Romance",Villealfa Filmproductions,"Teuvo Rissanen, Sirkka Silin, Ulla Kuosmanen, ...",Aki Kaurismäki,/nj01hspawPof0mJmlgfjuLyJuRN.jpg
2,Four Rooms,tt0113101,It's Ted the Bellhop's first night on the job....,Comedy,"Miramax, A Band Apart","Lili Taylor, Kimberly Blair, Quinn Hellerman, ...","Alexandre Rockwell, Allison Anders, Robert Rod...",/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg
3,Judgment Night,tt0107286,"Four young friends, while taking a shortcut en...","Action, Crime, Thriller","Largo Entertainment, JVC, Universal Pictures","Doug Wert, Angela Alvarado, Everlast, Sean O'G...",Stephen Hopkins,/3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg
4,Life in Loops (A Megacities RMX),tt0825671,Timo Novotny labels his new project an experim...,Documentary,inLoops,NaN,Timo Novotny,/7ln81BRnPR2wqxuITZxEciCe1lc.jpg

In [8]:
movies.isnull().sum()

title                       14
imdb_id                 503888
overview                176162
genres                  312080
production_companies    600350
cast                    367920
director                186953
poster_path             285397
dtype: int64

In [9]:
movies.dropna(inplace = True)

In [12]:
movies = movies.drop_duplicates(subset = "title")

In [13]:
movies.shape

(252346, 8)

In [16]:
movies.to_csv("/Users/nidhishgupta/Desktop/Movie_recommendation_sysytem/data/processed/reduced_data.csv",index = False)

In [15]:
movies.shape

(252346, 8)

In [17]:
movies['genres'] = movies['genres'].apply(
    lambda x: x.split(', ') if isinstance(x, str) else x
)
movies['genres']

0                [Comedy, Drama, Romance, Crime]
1                       [Comedy, Drama, Romance]
2                                       [Comedy]
3                      [Action, Crime, Thriller]
6           [Adventure, Action, Science Fiction]
                           ...
1154393                                  [Drama]
1154417    [Adventure, Science Fiction, Mystery]
1154455                                 [Comedy]
1154465                 [Documentary, Animation]
1154474                      [Thriller, Mystery]
Name: genres, Length: 252346, dtype: object

In [18]:
movies['production_companies'] = movies['production_companies'].apply(
    lambda x: x.split(', ') if isinstance(x, str) else x
)
movies['production_companies']

0                             [Villealfa Filmproductions]
1                             [Villealfa Filmproductions]
2                                 [Miramax, A Band Apart]
3          [Largo Entertainment, JVC, Universal Pictures]
6                      [Lucasfilm Ltd., 20th Century Fox]
                                ...
1154393                                      [Tony Films]
1154417                                 [Unicornio Films]
1154455                                 [FSU Film School]
1154465                    [Shrine13, MoJo Entertainment]
1154474        [Alenu Entertainment, Storyteller Studios]
Name: production_companies, Length: 252346, dtype: object

In [19]:
movies['cast'] = movies['cast'].apply(
    lambda x: x.split(', ') if isinstance(x, str) else x
)
movies['cast']

0          [Susanna Haavisto, Pentti Auer, Olli Varja, Me...
1          [Teuvo Rissanen, Sirkka Silin, Ulla Kuosmanen,...
2          [Lili Taylor, Kimberly Blair, Quinn Hellerman,...
3          [Doug Wert, Angela Alvarado, Everlast, Sean O'...
6          [Denis Lawson, Lightning Bear, Tiffany Hillkur...
                                 ...
1154393    [Anowara, Shabana, Suruj Bangali, Sultana, Ala...
1154417    [Sebastian Mueses, Sarah Jorge León, Carlos Ju...
1154455    [William H Worden, Aaron Goldenberg, Henry Rav...
1154465    [Michael Arellano, Gordana Božić, Karl Watson,...
1154474    [Deb Foster, Libby Blake, Wade Hunt Williams, ...
Name: cast, Length: 252346, dtype: object

In [20]:
movies['director'] = movies['director'].apply(
    lambda x: x.split(', ') if isinstance(x, str) else x
)
movies['director']

0                                           [Aki Kaurismäki]
1                                           [Aki Kaurismäki]
2          [Alexandre Rockwell, Allison Anders, Robert Ro...
3                                          [Stephen Hopkins]
6                                             [George Lucas]
                                 ...
1154393                                 [Azharul Islam Khan]
1154417                                      [Héctor Valdez]
1154455                                          [Alex Bale]
1154465                                      [Daniela Repas]
1154474                                  [Christine Conradt]
Name: director, Length: 252346, dtype: object

In [21]:
movies.head()

,title,imdb_id,overview,genres,production_companies,cast,director,poster_path
0,Ariel,tt0094675,A Finnish man goes to the city to find a job a...,"[Comedy, Drama, Romance, Crime]",[Villealfa Filmproductions],"[Susanna Haavisto, Pentti Auer, Olli Varja, Me...",[Aki Kaurismäki],/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg
1,Shadows in Paradise,tt0092149,"Nikander, a rubbish collector and would-be ent...","[Comedy, Drama, Romance]",[Villealfa Filmproductions],"[Teuvo Rissanen, Sirkka Silin, Ulla Kuosmanen,...",[Aki Kaurismäki],/nj01hspawPof0mJmlgfjuLyJuRN.jpg
2,Four Rooms,tt0113101,It's Ted the Bellhop's first night on the job....,[Comedy],"[Miramax, A Band Apart]","[Lili Taylor, Kimberly Blair, Quinn Hellerman,...","[Alexandre Rockwell, Allison Anders, Robert Ro...",/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg
3,Judgment Night,tt0107286,"Four young friends, while taking a shortcut en...","[Action, Crime, Thriller]","[Largo Entertainment, JVC, Universal Pictures]","[Doug Wert, Angela Alvarado, Everlast, Sean O'...",[Stephen Hopkins],/3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg
6,Star Wars,tt0076759,Princess Leia is captured and held hostage by ...,"[Adventure, Action, Science Fiction]","[Lucasfilm Ltd., 20th Century Fox]","[Denis Lawson, Lightning Bear, Tiffany Hillkur...",[George Lucas],/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg

In [22]:
movies['overview'] = movies['overview'].apply(
    lambda x: x.split(' ') if isinstance(x, str) else x
)
movies['overview']

0          [A, Finnish, man, goes, to, the, city, to, fin...
1          [Nikander,, a, rubbish, collector, and, would-...
2          [It's, Ted, the, Bellhop's, first, night, on, ...
3          [Four, young, friends,, while, taking, a, shor...
6          [Princess, Leia, is, captured, and, held, host...
                                 ...
1154393    [Parents, of, a, middle, class, family, along,...
1154417    [729, tells, the, story, of, Nia, Rosen,, a, s...
1154455    [When, the, main, character, of, a, sitcom, re...
1154465    [A, surreal, exploration, of, the, war, in, Bo...
1154474    [Graphic, design, firm, owner, Kris, is, devas...
Name: overview, Length: 252346, dtype: object

In [29]:
movies['genres'] = movies['genres'].apply(lambda x : [i.replace(" ", "") for i in x] )
movies['cast'] = movies['cast'].apply(lambda x : [i.replace(" ", "") for i in x] )
movies['director'] = movies['director'].apply(lambda x : [i.replace(" ", "") for i in x] )
movies['overview'] = movies['overview'].apply(lambda x : [i.replace(" ", "") for i in x] )
movies.head()

,title,imdb_id,overview,genres,production_companies,cast,director,poster_path
0,Ariel,tt0094675,"[A, Finnish, man, goes, to, the, city, to, fin...","[Comedy, Drama, Romance, Crime]",[Villealfa Filmproductions],"[SusannaHaavisto, PenttiAuer, OlliVarja, Merja...",[AkiKaurismäki],/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg
1,Shadows in Paradise,tt0092149,"[Nikander,, a, rubbish, collector, and, would-...","[Comedy, Drama, Romance]",[Villealfa Filmproductions],"[TeuvoRissanen, SirkkaSilin, UllaKuosmanen, Ne...",[AkiKaurismäki],/nj01hspawPof0mJmlgfjuLyJuRN.jpg
2,Four Rooms,tt0113101,"[It's, Ted, the, Bellhop's, first, night, on, ...",[Comedy],"[Miramax, A Band Apart]","[LiliTaylor, KimberlyBlair, QuinnHellerman, Pa...","[AlexandreRockwell, AllisonAnders, RobertRodri...",/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg
3,Judgment Night,tt0107286,"[Four, young, friends,, while, taking, a, shor...","[Action, Crime, Thriller]","[Largo Entertainment, JVC, Universal Pictures]","[DougWert, AngelaAlvarado, Everlast, SeanO'Gra...",[StephenHopkins],/3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg
6,Star Wars,tt0076759,"[Princess, Leia, is, captured, and, held, host...","[Adventure, Action, ScienceFiction]","[Lucasfilm Ltd., 20th Century Fox]","[DenisLawson, LightningBear, TiffanyHillkurtz,...",[GeorgeLucas],/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg

In [33]:
movies['production_companies'] = movies['production_companies'].apply(lambda x : [i.replace(" ", "") for i in x] )
movies['production_companies']

0                            [VillealfaFilmproductions]
1                            [VillealfaFilmproductions]
2                                 [Miramax, ABandApart]
3          [LargoEntertainment, JVC, UniversalPictures]
6                       [LucasfilmLtd., 20thCenturyFox]
                               ...
1154393                                     [TonyFilms]
1154417                                [UnicornioFilms]
1154455                                 [FSUFilmSchool]
1154465                   [Shrine13, MoJoEntertainment]
1154474        [AlenuEntertainment, StorytellerStudios]
Name: production_companies, Length: 252346, dtype: object

In [34]:
movies.head()

,title,imdb_id,overview,genres,production_companies,cast,director,poster_path
0,Ariel,tt0094675,"[A, Finnish, man, goes, to, the, city, to, fin...","[Comedy, Drama, Romance, Crime]",[VillealfaFilmproductions],"[SusannaHaavisto, PenttiAuer, OlliVarja, Merja...",[AkiKaurismäki],/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg
1,Shadows in Paradise,tt0092149,"[Nikander,, a, rubbish, collector, and, would-...","[Comedy, Drama, Romance]",[VillealfaFilmproductions],"[TeuvoRissanen, SirkkaSilin, UllaKuosmanen, Ne...",[AkiKaurismäki],/nj01hspawPof0mJmlgfjuLyJuRN.jpg
2,Four Rooms,tt0113101,"[It's, Ted, the, Bellhop's, first, night, on, ...",[Comedy],"[Miramax, ABandApart]","[LiliTaylor, KimberlyBlair, QuinnHellerman, Pa...","[AlexandreRockwell, AllisonAnders, RobertRodri...",/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg
3,Judgment Night,tt0107286,"[Four, young, friends,, while, taking, a, shor...","[Action, Crime, Thriller]","[LargoEntertainment, JVC, UniversalPictures]","[DougWert, AngelaAlvarado, Everlast, SeanO'Gra...",[StephenHopkins],/3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg
6,Star Wars,tt0076759,"[Princess, Leia, is, captured, and, held, host...","[Adventure, Action, ScienceFiction]","[LucasfilmLtd., 20thCenturyFox]","[DenisLawson, LightningBear, TiffanyHillkurtz,...",[GeorgeLucas],/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg

In [35]:
movies['tags'] = movies['genres']+movies['overview']+movies['production_companies']+movies['cast']+movies['director']

In [36]:
movies.head()

,title,imdb_id,overview,genres,production_companies,cast,director,poster_path,tags
0,Ariel,tt0094675,"[A, Finnish, man, goes, to, the, city, to, fin...","[Comedy, Drama, Romance, Crime]",[VillealfaFilmproductions],"[SusannaHaavisto, PenttiAuer, OlliVarja, Merja...",[AkiKaurismäki],/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg,"[Comedy, Drama, Romance, Crime, A, Finnish, ma..."
1,Shadows in Paradise,tt0092149,"[Nikander,, a, rubbish, collector, and, would-...","[Comedy, Drama, Romance]",[VillealfaFilmproductions],"[TeuvoRissanen, SirkkaSilin, UllaKuosmanen, Ne...",[AkiKaurismäki],/nj01hspawPof0mJmlgfjuLyJuRN.jpg,"[Comedy, Drama, Romance, Nikander,, a, rubbish..."
2,Four Rooms,tt0113101,"[It's, Ted, the, Bellhop's, first, night, on, ...",[Comedy],"[Miramax, ABandApart]","[LiliTaylor, KimberlyBlair, QuinnHellerman, Pa...","[AlexandreRockwell, AllisonAnders, RobertRodri...",/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg,"[Comedy, It's, Ted, the, Bellhop's, first, nig..."
3,Judgment Night,tt0107286,"[Four, young, friends,, while, taking, a, shor...","[Action, Crime, Thriller]","[LargoEntertainment, JVC, UniversalPictures]","[DougWert, AngelaAlvarado, Everlast, SeanO'Gra...",[StephenHopkins],/3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg,"[Action, Crime, Thriller, Four, young, friends..."
6,Star Wars,tt0076759,"[Princess, Leia, is, captured, and, held, host...","[Adventure, Action, ScienceFiction]","[LucasfilmLtd., 20thCenturyFox]","[DenisLawson, LightningBear, TiffanyHillkurtz,...",[GeorgeLucas],/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg,"[Adventure, Action, ScienceFiction, Princess, ..."

In [37]:
movies['tags']

0          [Comedy, Drama, Romance, Crime, A, Finnish, ma...
1          [Comedy, Drama, Romance, Nikander,, a, rubbish...
2          [Comedy, It's, Ted, the, Bellhop's, first, nig...
3          [Action, Crime, Thriller, Four, young, friends...
6          [Adventure, Action, ScienceFiction, Princess, ...
                                 ...
1154393    [Drama, Parents, of, a, middle, class, family,...
1154417    [Adventure, ScienceFiction, Mystery, 729, tell...
1154455    [Comedy, When, the, main, character, of, a, si...
1154465    [Documentary, Animation, A, surreal, explorati...
1154474    [Thriller, Mystery, Graphic, design, firm, own...
Name: tags, Length: 252346, dtype: object

In [38]:
movies = movies[['imdb_id','title','tags','poster_path']]
movies.head()

,imdb_id,title,tags,poster_path
0,tt0094675,Ariel,"[Comedy, Drama, Romance, Crime, A, Finnish, ma...",/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg
1,tt0092149,Shadows in Paradise,"[Comedy, Drama, Romance, Nikander,, a, rubbish...",/nj01hspawPof0mJmlgfjuLyJuRN.jpg
2,tt0113101,Four Rooms,"[Comedy, It's, Ted, the, Bellhop's, first, nig...",/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg
3,tt0107286,Judgment Night,"[Action, Crime, Thriller, Four, young, friends...",/3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg
6,tt0076759,Star Wars,"[Adventure, Action, ScienceFiction, Princess, ...",/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg

In [39]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 252346 entries, 0 to 1154474
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   imdb_id      252346 non-null  object
 1   title        252346 non-null  object
 2   tags         252346 non-null  object
 3   poster_path  252346 non-null  object
dtypes: object(4)
memory usage: 17.7+ MB

In [40]:
movies = movies.reset_index(drop = True)

In [41]:
movies.head()

,imdb_id,title,tags,poster_path
0,tt0094675,Ariel,"[Comedy, Drama, Romance, Crime, A, Finnish, ma...",/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg
1,tt0092149,Shadows in Paradise,"[Comedy, Drama, Romance, Nikander,, a, rubbish...",/nj01hspawPof0mJmlgfjuLyJuRN.jpg
2,tt0113101,Four Rooms,"[Comedy, It's, Ted, the, Bellhop's, first, nig...",/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg
3,tt0107286,Judgment Night,"[Action, Crime, Thriller, Four, young, friends...",/3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg
4,tt0076759,Star Wars,"[Adventure, Action, ScienceFiction, Princess, ...",/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg

In [42]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252346 entries, 0 to 252345
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   imdb_id      252346 non-null  object
 1   title        252346 non-null  object
 2   tags         252346 non-null  object
 3   poster_path  252346 non-null  object
dtypes: object(4)
memory usage: 7.7+ MB

In [43]:
movies.to_csv("/Users/nidhishgupta/Desktop/Movie_recommendation_sysytem/data/processed/final_data.csv",index = False)

In [1]:
print("HELLO")

HELLO