In [1]:
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv("/Users/nidhishgupta/Desktop/Movie_recommendation_sysytem/data/raw/TMDB_all_movies.csv")

In [3]:
movies.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,budget,imdb_id,...,spoken_languages,cast,director,director_of_photography,writers,producers,music_composer,imdb_rating,imdb_votes,poster_path
0,2,Ariel,7.100,356.0,Released,1988-10-21,0.0,73.0,0.0,tt0094675,...,suomi,"Susanna Haavisto, Pentti Auer, Olli Varja, Mer...",Aki Kaurismäki,Timo Salminen,Aki Kaurismäki,Aki Kaurismäki,NaN,7.4,9592.0,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg
1,3,Shadows in Paradise,7.265,429.0,Released,1986-10-17,0.0,74.0,0.0,tt0092149,...,"svenska, suomi, English","Teuvo Rissanen, Sirkka Silin, Ulla Kuosmanen, ...",Aki Kaurismäki,Timo Salminen,Aki Kaurismäki,Mika Kaurismäki,NaN,7.4,8440.0,/nj01hspawPof0mJmlgfjuLyJuRN.jpg
2,5,Four Rooms,5.900,2780.0,Released,1995-12-09,4257354.0,98.0,4000000.0,tt0113101,...,English,"Lili Taylor, Kimberly Blair, Quinn Hellerman, ...","Alexandre Rockwell, Allison Anders, Robert Rod...","Rodrigo García, Phil Parmet, Andrzej Sekula, G...","Allison Anders, Alexandre Rockwell, Quentin Ta...","Alexandre Rockwell, Quentin Tarantino, Lawrenc...",Combustible Edison,6.7,116230.0,/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg
3,6,Judgment Night,6.500,360.0,Released,1993-10-15,12136938.0,109.0,21000000.0,tt0107286,...,English,"Doug Wert, Angela Alvarado, Everlast, Sean O'G...",Stephen Hopkins,Peter Levy,"Lewis Colick, Jere Cunningham","Marilyn Vance, Gene Levy, Lloyd Segan",Alan Silvestri,6.6,20784.0,/3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg
4,8,Life in Loops (A Megacities RMX),7.200,30.0,Released,2006-01-01,0.0,80.0,42000.0,tt0825671,...,"English, हिन्दी, 日本語, Pусский, Español",NaN,Timo Novotny,Wolfgang Thaler,"Timo Novotny, Michael Glawogger","Timo Novotny, Ulrich Gehmacher",NaN,8.1,285.0,/7ln81BRnPR2wqxuITZxEciCe1lc.jpg

In [4]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1154595 entries, 0 to 1154594
Data columns (total 28 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   id                       1154595 non-null  int64
 1   title                    1154581 non-null  object
 2   vote_average             1154595 non-null  float64
 3   vote_count               1154595 non-null  float64
 4   status                   1154595 non-null  object
 5   release_date             1034816 non-null  object
 6   revenue                  1154595 non-null  float64
 7   runtime                  1154595 non-null  float64
 8   budget                   1154595 non-null  float64
 9   imdb_id                  650707 non-null   object
 10  original_language        1154595 non-null  object
 11  original_title           1154582 non-null  object
 12  overview                 978433 non-null   object
 13  popularity               1154595 non-null  float64
 14  tagline                  174530 non-null   object
 15  genres                   842515 non-null   object
 16  production_companies     554245 non-null   object
 17  production_countries     724302 non-null   object
 18  spoken_languages         731139 non-null   object
 19  cast                     786675 non-null   object
 20  director                 967642 non-null   object
 21  director_of_photography  305422 non-null   object
 22  writers                  582327 non-null   object
 23  producers                391055 non-null   object
 24  music_composer           127620 non-null   object
 25  imdb_rating              459611 non-null   float64
 26  imdb_votes               459611 non-null   float64
 27  poster_path              869198 non-null   object
dtypes: float64(8), int64(1), object(19)
memory usage: 246.6+ MB

In [5]:
movies['original_language'].unique()

array(['fi', 'en', 'de', 'fr', 'he', 'es', 'zh', 'ja', 'da', 'ko', 'pl',
       'sv', 'it', 'bs', 'hi', 'ru', 'no', 'pt', 'nl', 'el', 'cs', 'bn',
       'cn', 'tn', 'sr', 'mn', 'et', 'uk', 'hr', 'is', 'ca', 'ro', 'se',
       'ps', 'th', 'hu', 'xx', 'tr', 'vi', 'sh', 'fa', 'ht', 'bg', 'zu',
       'ar', 'mr', 'ku', 'bo', 'ta', 'tl', 'kk', 'id', 'am', 'lt', 'iu',
       'pa', 'te', 'sl', 'ml', 'mk', 'sk', 'af', 'ur', 'km', 'nb', 'ms',
       'hy', 'ka', 'mo', 'la', 'kn', 'dz', 'ga', 'eu', 'bm', 'sq', 'gl',
       'fo', 'si', 'ky', 'eo', 'xh', 'be', 'az', 'jv', 'tg', 'ff', 'lv',
       'oc', 'wo', 'ik', 'uz', 'lo', 'ks', 'sm', 'gd', 'cy', 'ln', 'sn',
       'yi', 'tk', 'ab', 'mt', 'kl', 'ne', 'so', 've', 'lb', 'sa', 'co',
       'yo', 'fy', 'gu', 'sc', 'ig', 'ay', 'sw', 'mg', 'gn', 'qu', 'cr',
       'as', 'mh', 'mi', 'my', 'to', 'dv', 'tw', 'or', 'st', 'li', 'ha',
       'kw', 'ug', 'ak', 'ti', 'nn', 'za', 'sg', 'ty', 'fj', 'rw', 'oj',
       'su', 'ki', 'bi', 'ss', 'tt', 'om', 'rn', 'ce', 'an', 'rm', 'ie',
       'lg', 'os', 'nv', 'av', 'gv', 'ba', 'sd', 'ts', 'ch', 'cv', 'ny',
       'kg', 'ia', 'aa', 'nd', 'br', 'ho', 'kv', 'kj', 'io', 'hz', 'nr',
       'ii', 'ee'], dtype=object)

In [6]:
selected_cols = ['id','title','imdb_id','overview','genres','production_companies','cast','director','poster_path','original_language','imdb_rating']
movies = movies[selected_cols]
movies.head()

,id,title,imdb_id,overview,genres,production_companies,cast,director,poster_path,original_language,imdb_rating
0,2,Ariel,tt0094675,A Finnish man goes to the city to find a job a...,"Comedy, Drama, Romance, Crime",Villealfa Filmproductions,"Susanna Haavisto, Pentti Auer, Olli Varja, Mer...",Aki Kaurismäki,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg,fi,7.4
1,3,Shadows in Paradise,tt0092149,"Nikander, a rubbish collector and would-be ent...","Comedy, Drama, Romance",Villealfa Filmproductions,"Teuvo Rissanen, Sirkka Silin, Ulla Kuosmanen, ...",Aki Kaurismäki,/nj01hspawPof0mJmlgfjuLyJuRN.jpg,fi,7.4
2,5,Four Rooms,tt0113101,It's Ted the Bellhop's first night on the job....,Comedy,"Miramax, A Band Apart","Lili Taylor, Kimberly Blair, Quinn Hellerman, ...","Alexandre Rockwell, Allison Anders, Robert Rod...",/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg,en,6.7
3,6,Judgment Night,tt0107286,"Four young friends, while taking a shortcut en...","Action, Crime, Thriller","Largo Entertainment, JVC, Universal Pictures","Doug Wert, Angela Alvarado, Everlast, Sean O'G...",Stephen Hopkins,/3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg,en,6.6
4,8,Life in Loops (A Megacities RMX),tt0825671,Timo Novotny labels his new project an experim...,Documentary,inLoops,NaN,Timo Novotny,/7ln81BRnPR2wqxuITZxEciCe1lc.jpg,en,8.1

In [7]:
movies.isnull().sum()

id                           0
title                       14
imdb_id                 503888
overview                176162
genres                  312080
production_companies    600350
cast                    367920
director                186953
poster_path             285397
original_language            0
imdb_rating             694984
dtype: int64

In [8]:
movies.shape

(1154595, 11)

In [9]:
movies = movies.dropna()

In [10]:
movies.isnull().sum()

id                      0
title                   0
imdb_id                 0
overview                0
genres                  0
production_companies    0
cast                    0
director                0
poster_path             0
original_language       0
imdb_rating             0
dtype: int64

In [11]:
movies.shape

(247466, 11)

In [12]:
movies = movies.drop_duplicates(subset = "title")

In [13]:
movies.shape

(217064, 11)

In [14]:
movies.to_csv("/Users/nidhishgupta/Desktop/Movie_recommendation_sysytem/data/processed/processed_language/reduced_data.csv",index = False)

In [15]:
movies.head()

,id,title,imdb_id,overview,genres,production_companies,cast,director,poster_path,original_language,imdb_rating
0,2,Ariel,tt0094675,A Finnish man goes to the city to find a job a...,"Comedy, Drama, Romance, Crime",Villealfa Filmproductions,"Susanna Haavisto, Pentti Auer, Olli Varja, Mer...",Aki Kaurismäki,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg,fi,7.4
1,3,Shadows in Paradise,tt0092149,"Nikander, a rubbish collector and would-be ent...","Comedy, Drama, Romance",Villealfa Filmproductions,"Teuvo Rissanen, Sirkka Silin, Ulla Kuosmanen, ...",Aki Kaurismäki,/nj01hspawPof0mJmlgfjuLyJuRN.jpg,fi,7.4
2,5,Four Rooms,tt0113101,It's Ted the Bellhop's first night on the job....,Comedy,"Miramax, A Band Apart","Lili Taylor, Kimberly Blair, Quinn Hellerman, ...","Alexandre Rockwell, Allison Anders, Robert Rod...",/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg,en,6.7
3,6,Judgment Night,tt0107286,"Four young friends, while taking a shortcut en...","Action, Crime, Thriller","Largo Entertainment, JVC, Universal Pictures","Doug Wert, Angela Alvarado, Everlast, Sean O'G...",Stephen Hopkins,/3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg,en,6.6
6,11,Star Wars,tt0076759,Princess Leia is captured and held hostage by ...,"Adventure, Action, Science Fiction","Lucasfilm Ltd., 20th Century Fox","Denis Lawson, Lightning Bear, Tiffany Hillkurt...",George Lucas,/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg,en,8.6

In [16]:
movies['genres'] = movies['genres'].apply(
    lambda x: x.split(', ') if isinstance(x, str) else x
)
movies['genres']

0                [Comedy, Drama, Romance, Crime]
1                       [Comedy, Drama, Romance]
2                                       [Comedy]
3                      [Action, Crime, Thriller]
6           [Adventure, Action, Science Fiction]
                           ...
1154116                                  [Drama]
1154388                  [Crime, Drama, Mystery]
1154393                                  [Drama]
1154417    [Adventure, Science Fiction, Mystery]
1154455                                 [Comedy]
Name: genres, Length: 217064, dtype: object

In [17]:
movies['production_companies'] = movies['production_companies'].apply(
    lambda x: x.split(', ') if isinstance(x, str) else x
)
movies['production_companies']

0                             [Villealfa Filmproductions]
1                             [Villealfa Filmproductions]
2                                 [Miramax, A Band Apart]
3          [Largo Entertainment, JVC, Universal Pictures]
6                      [Lucasfilm Ltd., 20th Century Fox]
                                ...
1154116                      [Causeway Films, Screen NSW]
1154388                                 [Unicornio Films]
1154393                                      [Tony Films]
1154417                                 [Unicornio Films]
1154455                                 [FSU Film School]
Name: production_companies, Length: 217064, dtype: object

In [18]:
movies['cast'] = movies['cast'].apply(
    lambda x: x.split(', ') if isinstance(x, str) else x
)
movies['cast']

0          [Susanna Haavisto, Pentti Auer, Olli Varja, Me...
1          [Teuvo Rissanen, Sirkka Silin, Ulla Kuosmanen,...
2          [Lili Taylor, Kimberly Blair, Quinn Hellerman,...
3          [Doug Wert, Angela Alvarado, Everlast, Sean O'...
6          [Denis Lawson, Lightning Bear, Tiffany Hillkur...
                                 ...
1154116    [Kenneth Moraleda, Steve Le Marquand, Maya Sta...
1154388    [Esperanza Perez, Yesenia Bencosme, Juan Gabri...
1154393    [Anowara, Shabana, Suruj Bangali, Sultana, Ala...
1154417    [Sebastian Mueses, Sarah Jorge León, Carlos Ju...
1154455    [William H Worden, Aaron Goldenberg, Henry Rav...
Name: cast, Length: 217064, dtype: object

In [19]:
movies['cast'] = movies['cast'].apply(lambda x: x[:5])

In [20]:
movies['cast'][0]

['Susanna Haavisto',
 'Pentti Auer',
 'Olli Varja',
 'Merja Pulkkinen',
 'Jyrki Olsonen']

In [21]:
movies['director'] = movies['director'].apply(
    lambda x: x.split(', ') if isinstance(x, str) else x
)
movies['director']

0                                           [Aki Kaurismäki]
1                                           [Aki Kaurismäki]
2          [Alexandre Rockwell, Allison Anders, Robert Ro...
3                                          [Stephen Hopkins]
6                                             [George Lucas]
                                 ...
1154116                                    [Steven Woodburn]
1154388                                      [Héctor Valdez]
1154393                                 [Azharul Islam Khan]
1154417                                      [Héctor Valdez]
1154455                                          [Alex Bale]
Name: director, Length: 217064, dtype: object

In [22]:
movies['director'] = movies['director'].apply(lambda x: x[:2])
movies['director']

0                              [Aki Kaurismäki]
1                              [Aki Kaurismäki]
2          [Alexandre Rockwell, Allison Anders]
3                             [Stephen Hopkins]
6                                [George Lucas]
                           ...
1154116                       [Steven Woodburn]
1154388                         [Héctor Valdez]
1154393                    [Azharul Islam Khan]
1154417                         [Héctor Valdez]
1154455                             [Alex Bale]
Name: director, Length: 217064, dtype: object

In [23]:
movies.head()

,id,title,imdb_id,overview,genres,production_companies,cast,director,poster_path,original_language,imdb_rating
0,2,Ariel,tt0094675,A Finnish man goes to the city to find a job a...,"[Comedy, Drama, Romance, Crime]",[Villealfa Filmproductions],"[Susanna Haavisto, Pentti Auer, Olli Varja, Me...",[Aki Kaurismäki],/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg,fi,7.4
1,3,Shadows in Paradise,tt0092149,"Nikander, a rubbish collector and would-be ent...","[Comedy, Drama, Romance]",[Villealfa Filmproductions],"[Teuvo Rissanen, Sirkka Silin, Ulla Kuosmanen,...",[Aki Kaurismäki],/nj01hspawPof0mJmlgfjuLyJuRN.jpg,fi,7.4
2,5,Four Rooms,tt0113101,It's Ted the Bellhop's first night on the job....,[Comedy],"[Miramax, A Band Apart]","[Lili Taylor, Kimberly Blair, Quinn Hellerman,...","[Alexandre Rockwell, Allison Anders]",/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg,en,6.7
3,6,Judgment Night,tt0107286,"Four young friends, while taking a shortcut en...","[Action, Crime, Thriller]","[Largo Entertainment, JVC, Universal Pictures]","[Doug Wert, Angela Alvarado, Everlast, Sean O'...",[Stephen Hopkins],/3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg,en,6.6
6,11,Star Wars,tt0076759,Princess Leia is captured and held hostage by ...,"[Adventure, Action, Science Fiction]","[Lucasfilm Ltd., 20th Century Fox]","[Denis Lawson, Lightning Bear, Tiffany Hillkur...",[George Lucas],/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg,en,8.6

In [24]:
movies['overview'] = movies['overview'].apply(
    lambda x: x.split(' ') if isinstance(x, str) else x
)
movies['overview']

0          [A, Finnish, man, goes, to, the, city, to, fin...
1          [Nikander,, a, rubbish, collector, and, would-...
2          [It's, Ted, the, Bellhop's, first, night, on, ...
3          [Four, young, friends,, while, taking, a, shor...
6          [Princess, Leia, is, captured, and, held, host...
                                 ...
1154116    [Driven, by, the, devastation, of, Cyclone, La...
1154388    ['The, Ruling', is, a, short, 25, minutes, fil...
1154393    [Parents, of, a, middle, class, family, along,...
1154417    [729, tells, the, story, of, Nia, Rosen,, a, s...
1154455    [When, the, main, character, of, a, sitcom, re...
Name: overview, Length: 217064, dtype: object

In [25]:
movies['genres'] = movies['genres'].apply(lambda x : [i.replace(" ", "") for i in x] )
movies['cast'] = movies['cast'].apply(lambda x : [i.replace(" ", "") for i in x] )
movies['director'] = movies['director'].apply(lambda x : [i.replace(" ", "") for i in x] )
movies['overview'] = movies['overview'].apply(lambda x : [i.replace(" ", "") for i in x] )
movies.head()

,id,title,imdb_id,overview,genres,production_companies,cast,director,poster_path,original_language,imdb_rating
0,2,Ariel,tt0094675,"[A, Finnish, man, goes, to, the, city, to, fin...","[Comedy, Drama, Romance, Crime]",[Villealfa Filmproductions],"[SusannaHaavisto, PenttiAuer, OlliVarja, Merja...",[AkiKaurismäki],/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg,fi,7.4
1,3,Shadows in Paradise,tt0092149,"[Nikander,, a, rubbish, collector, and, would-...","[Comedy, Drama, Romance]",[Villealfa Filmproductions],"[TeuvoRissanen, SirkkaSilin, UllaKuosmanen, Ne...",[AkiKaurismäki],/nj01hspawPof0mJmlgfjuLyJuRN.jpg,fi,7.4
2,5,Four Rooms,tt0113101,"[It's, Ted, the, Bellhop's, first, night, on, ...",[Comedy],"[Miramax, A Band Apart]","[LiliTaylor, KimberlyBlair, QuinnHellerman, Pa...","[AlexandreRockwell, AllisonAnders]",/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg,en,6.7
3,6,Judgment Night,tt0107286,"[Four, young, friends,, while, taking, a, shor...","[Action, Crime, Thriller]","[Largo Entertainment, JVC, Universal Pictures]","[DougWert, AngelaAlvarado, Everlast, SeanO'Gra...",[StephenHopkins],/3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg,en,6.6
6,11,Star Wars,tt0076759,"[Princess, Leia, is, captured, and, held, host...","[Adventure, Action, ScienceFiction]","[Lucasfilm Ltd., 20th Century Fox]","[DenisLawson, LightningBear, TiffanyHillkurtz,...",[GeorgeLucas],/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg,en,8.6

In [26]:
movies['production_companies'] = movies['production_companies'].apply(lambda x : [i.replace(" ", "") for i in x] )
movies.head()

,id,title,imdb_id,overview,genres,production_companies,cast,director,poster_path,original_language,imdb_rating
0,2,Ariel,tt0094675,"[A, Finnish, man, goes, to, the, city, to, fin...","[Comedy, Drama, Romance, Crime]",[VillealfaFilmproductions],"[SusannaHaavisto, PenttiAuer, OlliVarja, Merja...",[AkiKaurismäki],/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg,fi,7.4
1,3,Shadows in Paradise,tt0092149,"[Nikander,, a, rubbish, collector, and, would-...","[Comedy, Drama, Romance]",[VillealfaFilmproductions],"[TeuvoRissanen, SirkkaSilin, UllaKuosmanen, Ne...",[AkiKaurismäki],/nj01hspawPof0mJmlgfjuLyJuRN.jpg,fi,7.4
2,5,Four Rooms,tt0113101,"[It's, Ted, the, Bellhop's, first, night, on, ...",[Comedy],"[Miramax, ABandApart]","[LiliTaylor, KimberlyBlair, QuinnHellerman, Pa...","[AlexandreRockwell, AllisonAnders]",/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg,en,6.7
3,6,Judgment Night,tt0107286,"[Four, young, friends,, while, taking, a, shor...","[Action, Crime, Thriller]","[LargoEntertainment, JVC, UniversalPictures]","[DougWert, AngelaAlvarado, Everlast, SeanO'Gra...",[StephenHopkins],/3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg,en,6.6
6,11,Star Wars,tt0076759,"[Princess, Leia, is, captured, and, held, host...","[Adventure, Action, ScienceFiction]","[LucasfilmLtd., 20thCenturyFox]","[DenisLawson, LightningBear, TiffanyHillkurtz,...",[GeorgeLucas],/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg,en,8.6

In [27]:
movies['genres'] = movies['genres'].apply(lambda x: " ".join(x))
movies['genres']

0                Comedy Drama Romance Crime
1                      Comedy Drama Romance
2                                    Comedy
3                     Action Crime Thriller
6           Adventure Action ScienceFiction
                         ...
1154116                               Drama
1154388                 Crime Drama Mystery
1154393                               Drama
1154417    Adventure ScienceFiction Mystery
1154455                              Comedy
Name: genres, Length: 217064, dtype: object

In [28]:
movies['cast']

0          [SusannaHaavisto, PenttiAuer, OlliVarja, Merja...
1          [TeuvoRissanen, SirkkaSilin, UllaKuosmanen, Ne...
2          [LiliTaylor, KimberlyBlair, QuinnHellerman, Pa...
3          [DougWert, AngelaAlvarado, Everlast, SeanO'Gra...
6          [DenisLawson, LightningBear, TiffanyHillkurtz,...
                                 ...
1154116    [KennethMoraleda, SteveLeMarquand, MayaStange,...
1154388    [EsperanzaPerez, YeseniaBencosme, JuanGabrielM...
1154393    [Anowara, Shabana, SurujBangali, Sultana, Alam...
1154417      [SebastianMueses, SarahJorgeLeón, CarlosJuarez]
1154455    [WilliamHWorden, AaronGoldenberg, HenryRaven, ...
Name: cast, Length: 217064, dtype: object

In [29]:
movies['cast'] = movies['cast'].apply(lambda x: " ".join(x))
movies['cast']

0          SusannaHaavisto PenttiAuer OlliVarja MerjaPulk...
1          TeuvoRissanen SirkkaSilin UllaKuosmanen NekaHa...
2          LiliTaylor KimberlyBlair QuinnHellerman PaulSk...
3          DougWert AngelaAlvarado Everlast SeanO'Grady D...
6          DenisLawson LightningBear TiffanyHillkurtz Mah...
                                 ...
1154116    KennethMoraleda SteveLeMarquand MayaStange Hel...
1154388    EsperanzaPerez YeseniaBencosme JuanGabrielMora...
1154393         Anowara Shabana SurujBangali Sultana Alamgir
1154417          SebastianMueses SarahJorgeLeón CarlosJuarez
1154455    WilliamHWorden AaronGoldenberg HenryRaven Emma...
Name: cast, Length: 217064, dtype: object

In [30]:
movies['director'] = movies['director'].apply(lambda x: " ".join(x))
movies['director']

0                            AkiKaurismäki
1                            AkiKaurismäki
2          AlexandreRockwell AllisonAnders
3                           StephenHopkins
6                              GeorgeLucas
                        ...
1154116                     StevenWoodburn
1154388                       HéctorValdez
1154393                   AzharulIslamKhan
1154417                       HéctorValdez
1154455                           AlexBale
Name: director, Length: 217064, dtype: object

In [31]:
movies['production_companies'] = movies['production_companies'].apply(lambda x: " ".join(x))
movies['production_companies']

0                          VillealfaFilmproductions
1                          VillealfaFilmproductions
2                                Miramax ABandApart
3          LargoEntertainment JVC UniversalPictures
6                      LucasfilmLtd. 20thCenturyFox
                             ...
1154116                     CausewayFilms ScreenNSW
1154388                              UnicornioFilms
1154393                                   TonyFilms
1154417                              UnicornioFilms
1154455                               FSUFilmSchool
Name: production_companies, Length: 217064, dtype: object

In [32]:
movies['director'] = movies['director'].apply(lambda x: x.lower())
movies['director']

0                            akikaurismäki
1                            akikaurismäki
2          alexandrerockwell allisonanders
3                           stephenhopkins
6                              georgelucas
                        ...
1154116                     stevenwoodburn
1154388                       héctorvaldez
1154393                   azharulislamkhan
1154417                       héctorvaldez
1154455                           alexbale
Name: director, Length: 217064, dtype: object

In [33]:
movies['genres'] = movies['genres'].apply(lambda x: x.lower())
movies['genres']

0                comedy drama romance crime
1                      comedy drama romance
2                                    comedy
3                     action crime thriller
6           adventure action sciencefiction
                         ...
1154116                               drama
1154388                 crime drama mystery
1154393                               drama
1154417    adventure sciencefiction mystery
1154455                              comedy
Name: genres, Length: 217064, dtype: object

In [34]:
movies['cast'] = movies['cast'].apply(lambda x: x.lower())
movies['cast']

0          susannahaavisto penttiauer ollivarja merjapulk...
1          teuvorissanen sirkkasilin ullakuosmanen nekaha...
2          lilitaylor kimberlyblair quinnhellerman paulsk...
3          dougwert angelaalvarado everlast seano'grady d...
6          denislawson lightningbear tiffanyhillkurtz mah...
                                 ...
1154116    kennethmoraleda stevelemarquand mayastange hel...
1154388    esperanzaperez yeseniabencosme juangabrielmora...
1154393         anowara shabana surujbangali sultana alamgir
1154417          sebastianmueses sarahjorgeleón carlosjuarez
1154455    williamhworden aarongoldenberg henryraven emma...
Name: cast, Length: 217064, dtype: object

In [35]:
movies['production_companies'] = movies['production_companies'].apply(lambda x: x.lower())
movies['production_companies']

0                          villealfafilmproductions
1                          villealfafilmproductions
2                                miramax abandapart
3          largoentertainment jvc universalpictures
6                      lucasfilmltd. 20thcenturyfox
                             ...
1154116                     causewayfilms screennsw
1154388                              unicorniofilms
1154393                                   tonyfilms
1154417                              unicorniofilms
1154455                               fsufilmschool
Name: production_companies, Length: 217064, dtype: object

In [36]:
movies = movies.reset_index(drop = True)

In [37]:
movies.head()

,id,title,imdb_id,overview,genres,production_companies,cast,director,poster_path,original_language,imdb_rating
0,2,Ariel,tt0094675,"[A, Finnish, man, goes, to, the, city, to, fin...",comedy drama romance crime,villealfafilmproductions,susannahaavisto penttiauer ollivarja merjapulk...,akikaurismäki,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg,fi,7.4
1,3,Shadows in Paradise,tt0092149,"[Nikander,, a, rubbish, collector, and, would-...",comedy drama romance,villealfafilmproductions,teuvorissanen sirkkasilin ullakuosmanen nekaha...,akikaurismäki,/nj01hspawPof0mJmlgfjuLyJuRN.jpg,fi,7.4
2,5,Four Rooms,tt0113101,"[It's, Ted, the, Bellhop's, first, night, on, ...",comedy,miramax abandapart,lilitaylor kimberlyblair quinnhellerman paulsk...,alexandrerockwell allisonanders,/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg,en,6.7
3,6,Judgment Night,tt0107286,"[Four, young, friends,, while, taking, a, shor...",action crime thriller,largoentertainment jvc universalpictures,dougwert angelaalvarado everlast seano'grady d...,stephenhopkins,/3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg,en,6.6
4,11,Star Wars,tt0076759,"[Princess, Leia, is, captured, and, held, host...",adventure action sciencefiction,lucasfilmltd. 20thcenturyfox,denislawson lightningbear tiffanyhillkurtz mah...,georgelucas,/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg,en,8.6

In [38]:
movies['overview'] = movies['overview'].apply(lambda x: " ".join(x))
# movies['overview'] = movies['overview'].apply(lambda x: x.lower())
movies['overview']

0         A Finnish man goes to the city to find a job a...
1         Nikander, a rubbish collector and would-be ent...
2         It's Ted the Bellhop's first night on the job....
3         Four young friends, while taking a shortcut en...
4         Princess Leia is captured and held hostage by ...
                                ...
217059    Driven by the devastation of Cyclone Larry on ...
217060    'The Ruling' is a short 25 minutes film touchi...
217061    Parents of a middle class family along with th...
217062    729 tells the story of Nia Rosen, a stranded f...
217063    When the main character of a sitcom realizes h...
Name: overview, Length: 217064, dtype: object

In [39]:
movies['overview'] = movies['overview'].apply(lambda x: x.lower())
movies['overview']

0         a finnish man goes to the city to find a job a...
1         nikander, a rubbish collector and would-be ent...
2         it's ted the bellhop's first night on the job....
3         four young friends, while taking a shortcut en...
4         princess leia is captured and held hostage by ...
                                ...
217059    driven by the devastation of cyclone larry on ...
217060    'the ruling' is a short 25 minutes film touchi...
217061    parents of a middle class family along with th...
217062    729 tells the story of nia rosen, a stranded f...
217063    when the main character of a sitcom realizes h...
Name: overview, Length: 217064, dtype: object

In [40]:
movies.head()

,id,title,imdb_id,overview,genres,production_companies,cast,director,poster_path,original_language,imdb_rating
0,2,Ariel,tt0094675,a finnish man goes to the city to find a job a...,comedy drama romance crime,villealfafilmproductions,susannahaavisto penttiauer ollivarja merjapulk...,akikaurismäki,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg,fi,7.4
1,3,Shadows in Paradise,tt0092149,"nikander, a rubbish collector and would-be ent...",comedy drama romance,villealfafilmproductions,teuvorissanen sirkkasilin ullakuosmanen nekaha...,akikaurismäki,/nj01hspawPof0mJmlgfjuLyJuRN.jpg,fi,7.4
2,5,Four Rooms,tt0113101,it's ted the bellhop's first night on the job....,comedy,miramax abandapart,lilitaylor kimberlyblair quinnhellerman paulsk...,alexandrerockwell allisonanders,/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg,en,6.7
3,6,Judgment Night,tt0107286,"four young friends, while taking a shortcut en...",action crime thriller,largoentertainment jvc universalpictures,dougwert angelaalvarado everlast seano'grady d...,stephenhopkins,/3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg,en,6.6
4,11,Star Wars,tt0076759,princess leia is captured and held hostage by ...,adventure action sciencefiction,lucasfilmltd. 20thcenturyfox,denislawson lightningbear tiffanyhillkurtz mah...,georgelucas,/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg,en,8.6

In [41]:
movies['overview'] = movies['overview'].apply(lambda x: x.split())
movies['overview']

0         [a, finnish, man, goes, to, the, city, to, fin...
1         [nikander,, a, rubbish, collector, and, would-...
2         [it's, ted, the, bellhop's, first, night, on, ...
3         [four, young, friends,, while, taking, a, shor...
4         [princess, leia, is, captured, and, held, host...
                                ...
217059    [driven, by, the, devastation, of, cyclone, la...
217060    ['the, ruling', is, a, short, 25, minutes, fil...
217061    [parents, of, a, middle, class, family, along,...
217062    [729, tells, the, story, of, nia, rosen,, a, s...
217063    [when, the, main, character, of, a, sitcom, re...
Name: overview, Length: 217064, dtype: object

In [42]:
movies['genres'] = movies['genres'].apply(lambda x: x.split())
movies['genres']

0              [comedy, drama, romance, crime]
1                     [comedy, drama, romance]
2                                     [comedy]
3                    [action, crime, thriller]
4          [adventure, action, sciencefiction]
                          ...
217059                                 [drama]
217060                 [crime, drama, mystery]
217061                                 [drama]
217062    [adventure, sciencefiction, mystery]
217063                                [comedy]
Name: genres, Length: 217064, dtype: object

In [43]:
movies['production_companies'] = movies['production_companies'].apply(lambda x: x.split())
movies['production_companies']

0                           [villealfafilmproductions]
1                           [villealfafilmproductions]
2                                [miramax, abandapart]
3         [largoentertainment, jvc, universalpictures]
4                      [lucasfilmltd., 20thcenturyfox]
                              ...
217059                      [causewayfilms, screennsw]
217060                                [unicorniofilms]
217061                                     [tonyfilms]
217062                                [unicorniofilms]
217063                                 [fsufilmschool]
Name: production_companies, Length: 217064, dtype: object

In [44]:
movies['cast'] = movies['cast'].apply(lambda x: x.split())
movies['cast']

0         [susannahaavisto, penttiauer, ollivarja, merja...
1         [teuvorissanen, sirkkasilin, ullakuosmanen, ne...
2         [lilitaylor, kimberlyblair, quinnhellerman, pa...
3         [dougwert, angelaalvarado, everlast, seano'gra...
4         [denislawson, lightningbear, tiffanyhillkurtz,...
                                ...
217059    [kennethmoraleda, stevelemarquand, mayastange,...
217060    [esperanzaperez, yeseniabencosme, juangabrielm...
217061    [anowara, shabana, surujbangali, sultana, alam...
217062      [sebastianmueses, sarahjorgeleón, carlosjuarez]
217063    [williamhworden, aarongoldenberg, henryraven, ...
Name: cast, Length: 217064, dtype: object

In [45]:
movies['director'] = movies['director'].apply(lambda x: x.split())
movies['director']

0                            [akikaurismäki]
1                            [akikaurismäki]
2         [alexandrerockwell, allisonanders]
3                           [stephenhopkins]
4                              [georgelucas]
                         ...
217059                      [stevenwoodburn]
217060                        [héctorvaldez]
217061                    [azharulislamkhan]
217062                        [héctorvaldez]
217063                            [alexbale]
Name: director, Length: 217064, dtype: object

In [46]:
movies.to_csv("/Users/nidhishgupta/Desktop/Movie_recommendation_sysytem/data/processed/processed_language/reduce_processed_data_lang.csv",index = False)