In [12]:
import pandas as pd
import numpy as np
import ast

In [18]:
movies = pd.read_csv("/Users/nidhishgupta/Desktop/Movie_recommendation_sysytem/data/processed/reduce_processed_data.csv")

In [19]:
movies.head()

,title,imdb_id,overview,genres,production_companies,cast,director,poster_path
0,Ariel,tt0094675,"['a', 'finnish', 'man', 'goes', 'to', 'the', '...","['comedy', 'drama', 'romance', 'crime']",['villealfafilmproductions'],"['susannahaavisto', 'penttiauer', 'ollivarja',...",['akikaurismäki'],/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg
1,Shadows in Paradise,tt0092149,"['nikander,', 'a', 'rubbish', 'collector', 'an...","['comedy', 'drama', 'romance']",['villealfafilmproductions'],"['teuvorissanen', 'sirkkasilin', 'ullakuosmane...",['akikaurismäki'],/nj01hspawPof0mJmlgfjuLyJuRN.jpg
2,Four Rooms,tt0113101,"[""it's"", 'ted', 'the', ""bellhop's"", 'first', '...",['comedy'],"['miramax', 'abandapart']","['lilitaylor', 'kimberlyblair', 'quinnhellerma...","['alexandrerockwell', 'allisonanders', 'robert...",/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg
3,Judgment Night,tt0107286,"['four', 'young', 'friends,', 'while', 'taking...","['action', 'crime', 'thriller']","['largoentertainment', 'jvc', 'universalpictur...","['dougwert', 'angelaalvarado', 'everlast', ""se...",['stephenhopkins'],/3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg
4,Star Wars,tt0076759,"['princess', 'leia', 'is', 'captured', 'and', ...","['adventure', 'action', 'sciencefiction']","['lucasfilmltd.', '20thcenturyfox']","['denislawson', 'lightningbear', 'tiffanyhillk...",['georgelucas'],/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg

In [20]:

movies['overview'] = movies['overview'].apply(
    lambda x: ast.literal_eval(x) if isinstance(x, str) else []
)
# movies['overview']= movies['overview'].apply(lambda x: " ".join(x))
movies['overview']

0         [a, finnish, man, goes, to, the, city, to, fin...
1         [nikander,, a, rubbish, collector, and, would-...
2         [it's, ted, the, bellhop's, first, night, on, ...
3         [four, young, friends,, while, taking, a, shor...
4         [princess, leia, is, captured, and, held, host...
                                ...
252341    [parents, of, a, middle, class, family, along,...
252342    [729, tells, the, story, of, nia, rosen,, a, s...
252343    [when, the, main, character, of, a, sitcom, re...
252344    [a, surreal, exploration, of, the, war, in, bo...
252345    [graphic, design, firm, owner, kris, is, devas...
Name: overview, Length: 252346, dtype: object

In [21]:
movies['overview'][0]

['a',
 'finnish',
 'man',
 'goes',
 'to',
 'the',
 'city',
 'to',
 'find',
 'a',
 'job',
 'after',
 'the',
 'mine',
 'where',
 'he',
 'worked',
 'is',
 'closed',
 'and',
 'his',
 'father',
 'commits',
 'suicide.']

In [22]:
movies['overview'] = movies['overview'].apply(lambda x: " ".join(x))

In [28]:
movies['director'] = movies['director'].apply(
    lambda x: ast.literal_eval(x) if isinstance(x, str) else []
)
movies['director'] = movies['director'].apply(lambda x: " ".join(x))
movies['director']

0                                             akikaurismäki
1                                             akikaurismäki
2         alexandrerockwell allisonanders robertrodrigue...
3                                            stephenhopkins
4                                               georgelucas
                                ...
252341                                     azharulislamkhan
252342                                         héctorvaldez
252343                                             alexbale
252344                                         danielarepas
252345                                     christineconradt
Name: director, Length: 252346, dtype: object

In [27]:
movies['cast'] = movies['cast'].apply(
    lambda x: ast.literal_eval(x) if isinstance(x, str) else []
)
movies['cast'] = movies['cast'].apply(lambda x: " ".join(x))
movies['cast']

0         susannahaavisto penttiauer ollivarja merjapulk...
1         teuvorissanen sirkkasilin ullakuosmanen nekaha...
2         lilitaylor kimberlyblair quinnhellerman paulsk...
3         dougwert angelaalvarado everlast seano'grady d...
4         denislawson lightningbear tiffanyhillkurtz mah...
                                ...
252341    anowara shabana surujbangali sultana alamgir k...
252342          sebastianmueses sarahjorgeleón carlosjuarez
252343    williamhworden aarongoldenberg henryraven emma...
252344    michaelarellano gordanabožić karlwatson snježa...
252345    debfoster libbyblake wadehuntwilliams dillonpe...
Name: cast, Length: 252346, dtype: object

In [29]:
movies['genres'] = movies['genres'].apply(
    lambda x: ast.literal_eval(x) if isinstance(x, str) else []
)
movies['genres'] = movies['genres'].apply(lambda x: " ".join(x))
movies['genres']

0               comedy drama romance crime
1                     comedy drama romance
2                                   comedy
3                    action crime thriller
4          adventure action sciencefiction
                        ...
252341                               drama
252342    adventure sciencefiction mystery
252343                              comedy
252344               documentary animation
252345                    thriller mystery
Name: genres, Length: 252346, dtype: object

In [30]:
movies['production_companies'] = movies['production_companies'].apply(
    lambda x: ast.literal_eval(x) if isinstance(x, str) else []
)
movies['production_companies'] = movies['production_companies'].apply(lambda x: " ".join(x))
movies['production_companies']

0                         villealfafilmproductions
1                         villealfafilmproductions
2                               miramax abandapart
3         largoentertainment jvc universalpictures
4                     lucasfilmltd. 20thcenturyfox
                            ...
252341                                   tonyfilms
252342                              unicorniofilms
252343                               fsufilmschool
252344                  shrine13 mojoentertainment
252345       alenuentertainment storytellerstudios
Name: production_companies, Length: 252346, dtype: object

In [31]:
movies.head()

,title,imdb_id,overview,genres,production_companies,cast,director,poster_path
0,Ariel,tt0094675,a finnish man goes to the city to find a job a...,comedy drama romance crime,villealfafilmproductions,susannahaavisto penttiauer ollivarja merjapulk...,akikaurismäki,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg
1,Shadows in Paradise,tt0092149,"nikander, a rubbish collector and would-be ent...",comedy drama romance,villealfafilmproductions,teuvorissanen sirkkasilin ullakuosmanen nekaha...,akikaurismäki,/nj01hspawPof0mJmlgfjuLyJuRN.jpg
2,Four Rooms,tt0113101,it's ted the bellhop's first night on the job....,comedy,miramax abandapart,lilitaylor kimberlyblair quinnhellerman paulsk...,alexandrerockwell allisonanders robertrodrigue...,/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg
3,Judgment Night,tt0107286,"four young friends, while taking a shortcut en...",action crime thriller,largoentertainment jvc universalpictures,dougwert angelaalvarado everlast seano'grady d...,stephenhopkins,/3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg
4,Star Wars,tt0076759,princess leia is captured and held hostage by ...,adventure action sciencefiction,lucasfilmltd. 20thcenturyfox,denislawson lightningbear tiffanyhillkurtz mah...,georgelucas,/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [33]:
tfidf_overview = TfidfVectorizer(
    max_features=15000,      # controls memory
    stop_words='english',    # removes common words
    min_df=3                 # ignore very rare words
)

X_overview = tfidf_overview.fit_transform(movies['overview'])

In [35]:
cv_genres = CountVectorizer()

X_genres = cv_genres.fit_transform(movies['genres'])

In [37]:
cv_cast = CountVectorizer(
    max_features=5000    # important to control size
)

X_cast = cv_cast.fit_transform(movies['cast'])

Overview: (252346, 15000)
Genres:   (252346, 19)
Cast:     (252346, 5000)

In [40]:
from scipy.sparse import hstack

In [41]:
W_OVERVIEW = 0.2
W_GENRES   = 0.4
W_CAST     = 0.4

In [42]:
X_combined = hstack([
    W_OVERVIEW * X_overview,
    W_GENRES   * X_genres,
    W_CAST     * X_cast
])

In [44]:
from sklearn.decomposition import TruncatedSVD

In [45]:
N_COMPONENTS = 300

In [46]:
svd = TruncatedSVD(
    n_components=N_COMPONENTS,
    random_state=42
)

X_reduced = svd.fit_transform(X_combined)

In [49]:
import joblib
joblib.dump(tfidf_overview, "/Users/nidhishgupta/Desktop/Movie_recommendation_sysytem/models/tfidf_overview.joblib")
joblib.dump(cv_genres, "/Users/nidhishgupta/Desktop/Movie_recommendation_sysytem/models/cv_genres.pkl")
joblib.dump(cv_cast, "/Users/nidhishgupta/Desktop/Movie_recommendation_sysytem/models/cv_cast.pkl")
# faiss.write_index(
#     index,
#     "/Users/nidhishgupta/Desktop/Movie_recommendation_sysytem/models/faiss.index"
# )
joblib.dump(
    svd,
    "/Users/nidhishgupta/Desktop/Movie_recommendation_sysytem/models/svd.pkl"
)

['/Users/nidhishgupta/Desktop/Movie_recommendation_sysytem/models/svd.pkl']

In [50]:
joblib.dump(
    X_reduced,
    "/Users/nidhishgupta/Desktop/Movie_recommendation_sysytem/models/movie_vectors_reduced.pkl"
)

['/Users/nidhishgupta/Desktop/Movie_recommendation_sysytem/models/movie_vectors_reduced.pkl']

In [51]:
X_reduced = X_reduced.astype('float32')

# Normalize for cosine similarity
X_reduced /= np.linalg.norm(X_reduced, axis=1, keepdims=True)

In [52]:
import faiss

d = X_reduced.shape[1]  # number of dimensions

index = faiss.IndexFlatIP(d)  # Inner Product
index.add(X_reduced)

print("Total vectors indexed:", index.ntotal)

Total vectors indexed: 252346

In [53]:
faiss.write_index(
    index,
    "/Users/nidhishgupta/Desktop/Movie_recommendation_sysytem/models/faiss.index"
)