In [1]:
import pandas as pd
import numpy as np
import ast

In [2]:
movies = pd.read_csv("/Users/nidhishgupta/Desktop/Movie_recommendation_sysytem/data/processed/processed_language/reduce_processed_data_lang.csv")

In [3]:
movies.head()

,title,imdb_id,overview,genres,production_companies,cast,director,poster_path,original_language
0,Ariel,tt0094675,"['a', 'finnish', 'man', 'goes', 'to', 'the', '...","['comedy', 'drama', 'romance', 'crime']",['villealfafilmproductions'],"['susannahaavisto', 'penttiauer', 'ollivarja',...",['akikaurismäki'],/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg,fi
1,Shadows in Paradise,tt0092149,"['nikander,', 'a', 'rubbish', 'collector', 'an...","['comedy', 'drama', 'romance']",['villealfafilmproductions'],"['teuvorissanen', 'sirkkasilin', 'ullakuosmane...",['akikaurismäki'],/nj01hspawPof0mJmlgfjuLyJuRN.jpg,fi
2,Four Rooms,tt0113101,"[""it's"", 'ted', 'the', ""bellhop's"", 'first', '...",['comedy'],"['miramax', 'abandapart']","['lilitaylor', 'kimberlyblair', 'quinnhellerma...","['alexandrerockwell', 'allisonanders']",/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg,en
3,Judgment Night,tt0107286,"['four', 'young', 'friends,', 'while', 'taking...","['action', 'crime', 'thriller']","['largoentertainment', 'jvc', 'universalpictur...","['dougwert', 'angelaalvarado', 'everlast', ""se...",['stephenhopkins'],/3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg,en
4,Star Wars,tt0076759,"['princess', 'leia', 'is', 'captured', 'and', ...","['adventure', 'action', 'sciencefiction']","['lucasfilmltd.', '20thcenturyfox']","['denislawson', 'lightningbear', 'tiffanyhillk...",['georgelucas'],/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg,en

In [5]:
movies['overview'] = movies['overview'].apply(
    lambda x: ast.literal_eval(x) if isinstance(x, str) else []
)
# movies['overview']= movies['overview'].apply(lambda x: " ".join(x))
movies['overview'][0]

['a',
 'finnish',
 'man',
 'goes',
 'to',
 'the',
 'city',
 'to',
 'find',
 'a',
 'job',
 'after',
 'the',
 'mine',
 'where',
 'he',
 'worked',
 'is',
 'closed',
 'and',
 'his',
 'father',
 'commits',
 'suicide.']

In [6]:
movies['overview'] = movies['overview'].apply(lambda x: " ".join(x))

In [7]:
movies['overview']

0         a finnish man goes to the city to find a job a...
1         nikander, a rubbish collector and would-be ent...
2         it's ted the bellhop's first night on the job....
3         four young friends, while taking a shortcut en...
4         princess leia is captured and held hostage by ...
                                ...
252341    parents of a middle class family along with th...
252342    729 tells the story of nia rosen, a stranded f...
252343    when the main character of a sitcom realizes h...
252344    a surreal exploration of the war in bosnia tol...
252345    graphic design firm owner kris is devastated w...
Name: overview, Length: 252346, dtype: object

In [8]:
movies['director'] = movies['director'].apply(
    lambda x: ast.literal_eval(x) if isinstance(x, str) else []
)
movies['director'] = movies['director'].apply(lambda x: " ".join(x))
movies['director']

0                           akikaurismäki
1                           akikaurismäki
2         alexandrerockwell allisonanders
3                          stephenhopkins
4                             georgelucas
                       ...
252341                   azharulislamkhan
252342                       héctorvaldez
252343                           alexbale
252344                       danielarepas
252345                   christineconradt
Name: director, Length: 252346, dtype: object

In [9]:
movies['cast'] = movies['cast'].apply(
    lambda x: ast.literal_eval(x) if isinstance(x, str) else []
)
movies['cast'] = movies['cast'].apply(lambda x: " ".join(x))
movies['cast']

0         susannahaavisto penttiauer ollivarja merjapulk...
1         teuvorissanen sirkkasilin ullakuosmanen nekaha...
2         lilitaylor kimberlyblair quinnhellerman paulsk...
3         dougwert angelaalvarado everlast seano'grady d...
4         denislawson lightningbear tiffanyhillkurtz mah...
                                ...
252341         anowara shabana surujbangali sultana alamgir
252342          sebastianmueses sarahjorgeleón carlosjuarez
252343    williamhworden aarongoldenberg henryraven emma...
252344    michaelarellano gordanabožić karlwatson snježa...
252345    debfoster libbyblake wadehuntwilliams dillonpe...
Name: cast, Length: 252346, dtype: object

In [10]:
movies['genres'] = movies['genres'].apply(
    lambda x: ast.literal_eval(x) if isinstance(x, str) else []
)
movies['genres'] = movies['genres'].apply(lambda x: " ".join(x))
movies['genres']

0               comedy drama romance crime
1                     comedy drama romance
2                                   comedy
3                    action crime thriller
4          adventure action sciencefiction
                        ...
252341                               drama
252342    adventure sciencefiction mystery
252343                              comedy
252344               documentary animation
252345                    thriller mystery
Name: genres, Length: 252346, dtype: object

In [11]:
movies['production_companies'] = movies['production_companies'].apply(
    lambda x: ast.literal_eval(x) if isinstance(x, str) else []
)
movies['production_companies'] = movies['production_companies'].apply(lambda x: " ".join(x))
movies['production_companies']

0                         villealfafilmproductions
1                         villealfafilmproductions
2                               miramax abandapart
3         largoentertainment jvc universalpictures
4                     lucasfilmltd. 20thcenturyfox
                            ...
252341                                   tonyfilms
252342                              unicorniofilms
252343                               fsufilmschool
252344                  shrine13 mojoentertainment
252345       alenuentertainment storytellerstudios
Name: production_companies, Length: 252346, dtype: object

In [12]:
movies.head()

,title,imdb_id,overview,genres,production_companies,cast,director,poster_path,original_language
0,Ariel,tt0094675,a finnish man goes to the city to find a job a...,comedy drama romance crime,villealfafilmproductions,susannahaavisto penttiauer ollivarja merjapulk...,akikaurismäki,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg,fi
1,Shadows in Paradise,tt0092149,"nikander, a rubbish collector and would-be ent...",comedy drama romance,villealfafilmproductions,teuvorissanen sirkkasilin ullakuosmanen nekaha...,akikaurismäki,/nj01hspawPof0mJmlgfjuLyJuRN.jpg,fi
2,Four Rooms,tt0113101,it's ted the bellhop's first night on the job....,comedy,miramax abandapart,lilitaylor kimberlyblair quinnhellerman paulsk...,alexandrerockwell allisonanders,/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg,en
3,Judgment Night,tt0107286,"four young friends, while taking a shortcut en...",action crime thriller,largoentertainment jvc universalpictures,dougwert angelaalvarado everlast seano'grady d...,stephenhopkins,/3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg,en
4,Star Wars,tt0076759,princess leia is captured and held hostage by ...,adventure action sciencefiction,lucasfilmltd. 20thcenturyfox,denislawson lightningbear tiffanyhillkurtz mah...,georgelucas,/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg,en

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [14]:
tfidf_overview = TfidfVectorizer(
    max_features=15000,      # controls memory
    stop_words='english',    # removes common words
    min_df=3                 # ignore very rare words
)

X_overview = tfidf_overview.fit_transform(movies['overview'])

In [15]:
cv_genres = CountVectorizer()

X_genres = cv_genres.fit_transform(movies['genres'])

In [16]:
cv_cast = CountVectorizer(
    max_features=5000    # important to control size
)

X_cast = cv_cast.fit_transform(movies['cast'])

In [17]:
from sklearn.preprocessing import OneHotEncoder

In [19]:
lang_encoder = OneHotEncoder(
    sparse_output=True,
    handle_unknown="ignore"
)

In [20]:
X_lang = lang_encoder.fit_transform(
    movies[['original_language']]
)

In [22]:
import joblib

joblib.dump(
    lang_encoder,
    "/Users/nidhishgupta/Desktop/Movie_recommendation_sysytem/models/models_including_lang/language_encoder.pkl"
)

['/Users/nidhishgupta/Desktop/Movie_recommendation_sysytem/models/models_including_lang/language_encoder.pkl']

In [23]:
cv_director = CountVectorizer(
    max_features=5000    # important to control size
)

X_director = cv_director.fit_transform(movies['director'])

In [24]:
cv_prod = CountVectorizer(
    max_features=2500    # important to control size
)

X_prod = cv_prod.fit_transform(movies['production_companies'])

In [25]:
from scipy.sparse import hstack

In [26]:
W_OVERVIEW = 0.4
W_GENRES   = 1.8
W_CAST     = 1.6
W_DIRECTOR = 0.8
W_PROD = 0.6
W_LANG = 2.0

In [27]:
X_combined = hstack([
    W_OVERVIEW * X_overview,
    W_GENRES   * X_genres,
    W_CAST     * X_cast,
    W_DIRECTOR * X_director,
    W_PROD * X_prod,
    W_LANG * X_lang
])

In [29]:
from sklearn.decomposition import TruncatedSVD

In [30]:
N_COMPONENTS = 400

In [31]:
svd = TruncatedSVD(
    n_components=N_COMPONENTS,
    random_state=42
)

X_reduced = svd.fit_transform(X_combined)

In [32]:
import joblib
joblib.dump(tfidf_overview, "/Users/nidhishgupta/Desktop/Movie_recommendation_sysytem/models/models_including_lang/tfidf_overview_lang.joblib")
joblib.dump(cv_genres, "/Users/nidhishgupta/Desktop/Movie_recommendation_sysytem/models/models_including_lang/cv_genres_lang.pkl")
joblib.dump(cv_cast, "/Users/nidhishgupta/Desktop/Movie_recommendation_sysytem/models/models_including_lang/cv_cast_lang.pkl")
joblib.dump(cv_director, "/Users/nidhishgupta/Desktop/Movie_recommendation_sysytem/models/models_including_lang/cv_director_lang.pkl")
joblib.dump(cv_prod, "/Users/nidhishgupta/Desktop/Movie_recommendation_sysytem/models/models_including_lang/cv_prod_lang.pkl")
# faiss.write_index(
#     index,
#     "/Users/nidhishgupta/Desktop/Movie_recommendation_sysytem/models/faiss.index"
# )
joblib.dump(
    svd,
    "/Users/nidhishgupta/Desktop/Movie_recommendation_sysytem/models/models_including_lang/svd_lang.pkl"
)

['/Users/nidhishgupta/Desktop/Movie_recommendation_sysytem/models/models_including_lang/svd_lang.pkl']

In [33]:
joblib.dump(
    X_reduced,
    "/Users/nidhishgupta/Desktop/Movie_recommendation_sysytem/models/models_including_lang/movie_vectors_reduced_lang.pkl"
)

['/Users/nidhishgupta/Desktop/Movie_recommendation_sysytem/models/models_including_lang/movie_vectors_reduced_lang.pkl']

In [34]:
X_reduced = X_reduced.astype('float32')

# Normalize for cosine similarity
X_reduced /= np.linalg.norm(X_reduced, axis=1, keepdims=True)

In [35]:
import faiss

d = X_reduced.shape[1]  # number of dimensions

index = faiss.IndexFlatIP(d)  # Inner Product
index.add(X_reduced)

print("Total vectors indexed:", index.ntotal)

Total vectors indexed: 252346

In [36]:
faiss.write_index(
    index,
    "/Users/nidhishgupta/Desktop/Movie_recommendation_sysytem/models/models_including_lang/faiss_lang.index"
)